div.nick1{
	width: 500px;
	margin: auto;
	border: 2px solid red;
}
div.nick2{
	max-width: 500px;/*its help to make block see same in all size browser*/
	background-color: black;
	margin: auto;
	color: white;
	border: 2px solid red;
}
body{
	background-color: lightblue;
}