div.nick{
	background-color: lightblue;
	border:2px solid black ;
	/* u  can use diffrant margin for diffrant side like top bottom right left as per exp */
	margin-top: 50px;
	margin-right: 70px;
	margin-bottom: 70px;
	margin-left: 50px; 
	padding: 10px;
}
