/*in this page we see diffrant type of Layout - 
Horizontal & Vertical Align its help to text and element center right or left */
.center1{/* its use for element like div to center*/
	position: center;
	margin: auto;
	border:3px solid lightgreen;
	width:300px;
	padding: 10px;
}
.center2{/*this is help for do text center */
	clear: right;
	text-align: center;
	border:3px solid lightgreen;
	margin: 10px;
}
img{/*this is helpfull to img in center*/
	margin:auto;
	display: block;

}
/* there is two type of method for Left and Right Align */
body{
	margin: 0;
	padding: 0;
}
.container{
	position: relative;
	width: 100%;
}
.right{/* its a position method */
	position: absolute;
	right: 0px;
	border: 2px solid lightgreen;
	width: 300px;
	
} 
.right2{
	clear: left;
	float: right;
	border: 2px solid lightgreen;
	width: 300px;
	margin: 125px 0px;

}
.center3{
	padding: 50px 0px;
	border:3px solid lightgreen;
	clear: right;
}
.center4{
	text-align: center;
	border:3px solid lightgreen;
	padding: 50px 0px;
	margin: 10px;
}